<div class="card !mb-8">
  <div class="font-semibold text-xl mb-4">Recent Updates</div>
  <p-table [value]="updates" [paginator]="true" [rows]="5" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Level</th>
        <th>Subject</th>
        <th>Validation Status</th>
        <th>Verification Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-update>
      <tr>
        <td style="width: 15%; min-width: 5rem;">{{ update.level }}</td>
        <td style="width: 15%; min-width: 5rem;">{{ update.subject }}</td>
        <td style="width: 15%; min-width: 5rem;">{{ update.validation_status }}</td>
        <td style="width: 15%; min-width: 5rem;">{{ update.verification_status }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
