.calendar-popup {
  position: absolute;
  top: 100%;
  right: 0;
  padding-top: 0px;
  padding-bottom: 0px;

  z-index: 1000;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

