<div class="card">
  <p-dataview #dv [value]="groups()" [layout]="layout">
    <ng-template #header>
      <div class="flex justify-end">
        <p-selectbutton [(ngModel)]="layout" [options]="options" [allowEmpty]="false">
          <ng-template #item let-item>
            <i class="pi" [ngClass]="{ 'pi-bars': item === 'list', 'pi-table': item === 'grid' }"></i>
          </ng-template>
        </p-selectbutton>
      </div>
    </ng-template>

    <ng-template #list let-items>
      <div *ngFor="let item of items; let first = first">
        <div class="flex flex-col sm:flex-row sm:items-center p-6 gap-4"
             [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }">
          <div class="md:w-40 relative" style="width: 30%; height: auto;" >
            <img class="block xl:block mx-auto rounded w-full"
                 [src]="item.image"
            [alt]="item.name"/>
            <p-tag [value]="item.inventoryStatus" [severity]="getSeverity(item)"
                   class="absolute" styleClass="dark:!bg-surface-900"
                   [style.left.px]="4" [style.top.px]="4"/>
          </div>
          <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
            <div>
              <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">{{ item.category }}</span>
              <div class="text-lg font-medium mt-2">{{ item.name }}</div>
            </div>
            <span class="text-xl font-semibold">{{ item.price | currency: 'USD' }}</span>
            <div class="flex flex-row-reverse md:flex-row gap-2">
              <button pButton icon="pi pi-heart" [outlined]="true"></button>
              <button pButton icon="pi pi-shopping-cart" label="GET STARTED"
                      [disabled]="item.inventoryStatus === 'OUTOFSTOCK'"></button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #grid let-items>
      <div class="grid grid-cols-12 gap-4">
        <div *ngFor="let group of items" class="col-span-12 sm:col-span-6 md:col-span-4 xl:col-span-6 p-2">
          <div class="p-6 border border-surface-200 dark:border-surface-700 bg-surface-0 dark:bg-surface-900 rounded">
            <div class="bg-surface-50 flex justify-center rounded p-4">
              <img class="rounded w-full"
                   [src]="group.image"
              [alt]="group.name" style="max-width: 300px"/>
              <p-tag [value]="group.inventoryStatus" [severity]="getSeverity(group)"
                     class="absolute" styleClass="dark:!bg-surface-900"
                     [style.left.px]="4" [style.top.px]="4"/>
            </div>
            <div class="pt-6">
              <div class="flex flex-row justify-between">
                <div>
                  <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">{{ group.category }}</span>
                  <div class="text-lg font-medium mt-1">{{ group.name }}</div>
                </div>
                <span class="text-2xl font-semibold">{{ group.price | currency: 'USD' }}</span>
              </div>
              <div class="flex gap-2 mt-6">
                <button pButton icon="pi pi-shopping-cart" label="GET STARTED"
                        [disabled]="group.inventoryStatus === 'OUTOFSTOCK'"></button>
                <button pButton icon="pi pi-heart" outlined></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataview>
</div>
