<div class="flex flex-column align-items-center justify-content-center min-h-screen p-4">
  <p-card class=" shadow-4 mt-5">
    <ng-template pTemplate="header">
      <h2 class="text-center">Welcome Back</h2>
    </ng-template>

    <form (ngSubmit)="login()" class="p-fluid">
      <div class="p-field">
        <label for="username">Username</label>
        <input id="username" type="text" pInputText [(ngModel)]="username" name="username" required />
      </div>

      <div class="p-field">
        <label>Password</label>
        <p-password [(ngModel)]="password" name="password" [toggleMask]="true" required></p-password>
      </div>

      <button pButton type="submit" label="Se connecter" icon="pi pi-sign-in" class="w-full"></button>
    </form>
  </p-card>

</div>
