<div class="flex justify-content-center items-center min-h-screen p-1">
  <div>
    <!-- First Row of Cards -->
    <div class="flex flex-wrap gap-4 justify-content-center">
      <div class="w-25rem">
        <p-card header="Génie informatique">
          <img src="assets/images/info.jpg" alt="info" class="w-full border-round-lg mt-2" style="width: 100%; height: 200px; object-fit: cover;" />
          <div class="flex justify-content-center mt-3">
            <p-button label="Consulter" />
          </div>
        </p-card>
      </div>
      <div class="w-25rem">
        <p-card header="Génie mécatronique">
          <img src="assets/images/meca.jpg" alt="meca" class="w-full border-round-lg mt-2" style="width: 100%; height: 200px; object-fit: cover;" />
          <div class="flex justify-content-center mt-3">
            <p-button label="Consulter" />
          </div>
        </p-card>
      </div>
    </div>

    <!-- Second Row of Cards -->
    <div class="flex flex-wrap gap-4 justify-content-center mt-5">
      <div class="w-25rem">
        <p-card header="Génie des systèmes infotronique">
          <img src="assets/images/infotr.jpg" alt="infotr" class="w-full border-round-lg mt-2"  style="width: 100%; height: 200px; object-fit: cover; "/>
          <div class="flex justify-content-center mt-3">
            <p-button label="Consulter" />
          </div>
        </p-card>
      </div>
      <div class="w-25rem">
        <p-card header="Génie industriel">
          <img src="assets/images/indus.jpg" alt="indus" class="w-full border-round-lg mt-2" style="width: 100%; height: 200px; object-fit: cover;" />
          <div class="flex justify-content-center mt-3">
            <p-button label="Consulter" />
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>
